* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Amaranth', sans-serif;
}

:root {
  --header-height: 3rem;

  --color-cell-free: hsl(225, 100%, 60%);
  --color-cell-occupied: hsl(340, 100%, 30%);
  --color-btn-hover: hsl(225, 100%, 75%);
}

body {
  height: 100vh;
}

header {
  height: var(--header-height);
}

h1 {
  text-align: center;
}

main {
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h2 {
  text-align: center;
}

#game-container {
  height: 320px;
  width: 320px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  background-color: var(--color-btn-hover);
  border-radius: 8px;
  padding: 4px;
}

#start-screen {
  grid-area: 1 / 1 / -1 / -1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: inherit;
}

#reset-btn, #start-btn{
  height: 2rem;
  
  margin-top: 8px;
  background-color: var(--color-cell-free);
  border: 0;
  color: white;
  font-size: 1.2rem;
}

#reset-btn {
  width: 100%;
}

#reset-btn:hover:enabled, #start-btn:hover{
  background-color: var(--color-btn-hover);
  color: black;
}

h1, h2 {
  font-weight: 700;
}

.board-btn {
  border: 0;
  border-radius: 8px;
  position: relative;
  background-color: white;
  font-size: 76px;
  font-family: 'Nanum Pen Script', handwriting;
}

.board-btn:hover:after {
  content: "";
  display: block;
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid var(--color-cell-occupied);
  border-radius: 12px;
  animation-name: hoverFrame;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  z-index: 10;
}

.board-btn:empty:hover:after {
  border-color: var(--color-cell-free);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}

footer p {
  font-family: sans-serif;
}

@keyframes hoverFrame {
  from {
    transform: translate(-4px, -4px);
    border-width: 4px;
  }
  to {
    transform: translate(-8px, -8px);
    border-width: 8px;
  }
}